<template>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>contraseña</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="alumno in user" :key="alumno.id">
          <td>{{ alumno.id }}</td>
          <td>{{ alumno.name }}</td>
          <td>{{ alumno.email }}</td>
          <td>{{ alumno.password }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
  
  <script lang="ts" setup>
  import UserService from '../Service/UserService'
  import { ref, onMounted } from 'vue'
  import type { Ref } from 'vue'
  import type { IUser } from '@/interface/IUser';
  
  const service = new UserService()
  const user: Ref<IUser[]> = service.getUsers()
  
  onMounted(async () => {
  await service.ObtenerTodo()
})
  
  </script>
  
  <style scoped>
  .table-container {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  
  th, td {
    border: 1px solid #000000;
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #FFC0CB;
    color: #000000;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  </style>
  