<template>
  <div class="form-container">
     <form v-on:submit="fetchpost">
      <div class="form-group">
        <label>Nombre:</label>
        <input type="text" v-model="name" required>
      </div>
      <br> <br>
      <div class="form-group">
        <label>Correo:</label>
        <input type="email" v-model="email" required>
      </div>
      <br> <br>
      <div class="form-group">
        <label>Contraseña:</label>
        <input type="password" v-model="password" required>
      </div>
      <br> <br>
      <div class="form-group">
        <label>Grupo:</label>
        <input type="text" v-model="group" required>
      </div>
      <br><br>
      <input type="submit" value="Registrar mis datos">
     </form>
  </div>
</template>


<script lang="ts" setup>
import {ref} from 'vue'
import UserService from '../Service/UserService'


const name = ref('');
const email = ref('');
const password = ref('');
const group = ref('');


const service = new UserService()

async function fetchpost(event: any){
  event.preventDefault();
  if (password.value.length !== 6) {
      alert("La contraseña debe tener exactamente 6 caracteres.");
      return;
  }
  if (!name.value || !email.value || !password.value || !group.value) {
      alert("Por favor, rellene todos los campos.");
      return;
  }
  await service.CrearUser(email.value, password.value, name.value, group.value)
  alert("Usted "+ name.value + " Ya esta registrado")
}

</script>

<style scoped>
.form-container {
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px; 
}

input[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: #d86fb2; 
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

</style>