<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>
    <nav>
      <RouterLink to="/registro">Registro</RouterLink>
      <RouterLink to="/view">Vista</RouterLink>
    </nav>
  </header>

  <RouterView />
</template>

<style scoped>

</style>